<?xml version="1.0" encoding="UTF-8"?>
<!--

    IIS configuration sections.

    For schema documentation, see
    %windir%\system32\inetsrv\config\schema\IIS_schema.xml.

    Please make a backup of this file before making any changes to it.

-->

<!--
    <configuration>
 <system.webServer>
<fastCgi>

            <application fullPath="D:\lv-files\venv\Scripts\python.exe" arguments="D:\lv-files\venv\Lib\site-packages\wfastcgi.py" signalBeforeTerminateSeconds="30" activityTimeout="60000" requestTimeout="60000" instanceMaxRequests="1000000" />
        </fastCgi>
</system.webServer>
</configuration>
-->





</configuration>
