<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add
            name="flask-python" path="*" verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\dj-apps-2022-05-25\jd-apps\venv\Scripts\python.exe|C:\dj-apps-2022-05-25\jd-apps\venv\Lib\site-packages\wfastcgi.py"
            resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\dj-apps-2022-05-25\jd-apps\fwebapi" />
        <add key="WSGI_HANDLER" value="app_api.app" />
        <add key="WSGI_LOG" value="C:\dj-apps-2022-05-25\jd-apps\fapp\app.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.xx)|(\.yy))$" />
    </appSettings>
</configuration>
<!--
"C:\source\2022-06\jd-apps\jd-apps\venv\Scripts\python.exe" "C:\source\2022-06\jd-apps\jd-apps\venv\Scripts\pip.exe" install wfastcgi

-->