<?xml version="1.0" encoding="UTF-8"?>
<!--
    Cấu hình file này dành cho iis fastcgi
-->
<configuration>
<system.webServer>
<handlers>
    <add name="FastAPI Handler local"
    path="*" verb="*"
    modules="FastCgiModule"
    scriptProcessor="C:\code\python\jd-apps\venv\Scripts\python.exe|C:\code\python\jd-apps\venv\Lib\site-packages\wfastcgi.py"
    resourceType="Unspecified" />
</handlers>
</system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\code\python\jd-apps" />
        <add key="WSGI_HANDLER" value="api_app_iis_windows.wsgi_app" />
    </appSettings>
</configuration>
<!--
    Để host trên IIS vào thư mục
    C:\Windows\System32\inetsrv\config
    Tìm đến file applicationHost.config
    tìm thẻ configuration/system.webServer/fastCgi
    Thêm thẻ application
    <application fullPath="D:\lv-files\venv\Scripts\python.exe" arguments="D:\lv-files\venv\Lib\site-packages\wfastcgi.py" signalBeforeTerminateSeconds="30" activityTimeout="60000" requestTimeout="60000" instanceMaxRequests="1000000" />

    Ví dụ:
       <configuration>
            <system.webServer>
                <fastCgi>
                    <application
                            fullPath="D:\lv-files\venv\Scripts\python.exe"
                            arguments="D:\lv-files\venv\Lib\site-packages\wfastcgi.py"
                            signalBeforeTerminateSeconds="30"
                            activityTimeout="60000"
                            requestTimeout="60000"
                            instanceMaxRequests="1000000"
                            />
                </fastCgi>
</system.webServer>
</configuration>
-->