<div class="layout-columns">
    <style>
        .shadow-box {
            box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 15px;
            margin: 10px;
        }

        .header {
            position: relative;
            left: 0;
            top: 0;
            right: 0;
            padding: 10px;
        }

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .grid-container {
            display: grid;
        }

            .grid-container > div:first-child {
                grid-row-start: 1;
                grid-row-end: 1;
                border: solid 4px red;
            }

            .grid-container > div:last-child {
                grid-row-start: 2;
                grid-row-end: 2;
            }
    </style>
    <div class="header layout-rows">
        <div class="layout-rows">
            <div>
           
            {{$res("Select app")}}
            </div>
            <div>
            <select ng-model="currentAppName" ng-change="doLoadAllFiles().then()">
                <option ng-repeat="p in listOfApp" value="{{p.Name}}">
                    {{p.Name}}
                </option>
            </select>
            </div>
        </div>
        <div class="dock full"></div>
        <div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>

        <div>
            <input type="button" class="btn btn-primary" value="{{$res('Upload zip and uncompress')}}" ng-click="doOpenUploadZipWindow().then()" />
        </div>
        <div>
            <input type="button" class="btn btn-primary" value="New" ng-click="doOpenUploadWindow().then()" />
        </div>
    </div>
    
    <div class="dock full" style="margin:15px">
        <div rpct-lazy-scroll source="listOfFiles" item-var="p" class="row" on-request-data="doLoadMore" page-size="20">
            <rpct-template>
                <div class="col-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="layout-rows  shadow-box" style="height:200px">
                        <div style="min-width:140px;max-width:140px" class="shadow-box">
                            <div class="layout-rows">
                                <div class="dock full"></div>
                                <div class="layout-columns">
                                    <div class="dock full"></div>
                                    <div>
                                        <img style="min-width:120px;max-width:120px;margin:10px" ng-src="{{p.ThumbUrl}}" ng-if="p.HasThumb" />
                                    </div>
                                    <div class="dock full"></div>
                                </div>
                                <div class="dock full"></div>
                            </div>

                        </div>
                        <div class="dock full">
                            <div class="row ">
                                <div class="title col-12">
                                    <a ng-if="p.MimeType.indexOf('video/')==0" href="javascript:void(0);" ng-click="doOpenInWindows(p).then()">
                                        {{p.FileName}}
                                    </a>

                                    <a ng-if="p.MimeType.indexOf('video/')!=0" ng-href="{{p.UrlOfServerPath}}" target="_blank">{{p.FileName}}</a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6 title">
                                    <a>Status</a>
                                </div>
                                <div class="col-6" ng-if="p.Status==1">
                                    Hoàn tất
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 title">
                                    <a>File Size</a>
                                </div>
                                <div class="col-6">
                                    {{p.SizeInHumanReadable}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 title">
                                    <a>Created on</a>
                                </div>
                                <div class="col-6">
                                    {{p.RegisterOn|date:'dd-MM-yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </rpct-template>
        </div>
       
        
    </div>
</div>
