<div>
    <style>
        .header {
            position:relative;
            left:0;
            top:0;
            right:0;
            
        }
        .title {
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis

        }
        .grid-container {
            display: grid;
            
        }
            .grid-container > div:first-child {
                grid-row-start: 1;
                grid-row-end: 1;
                border: solid 4px red;
            }
            .grid-container > div:last-child {
                grid-row-start: 2;
                grid-row-end: 2;
            }
    </style>
    <div class="header">

        <select ng-model="currentAppName" ng-change="doLoadAllFiles().then()">
            <option ng-repeat="p in listOfApp" value="{{p.Name}}">
                {{p.Name}}
            </option>
        </select>
    </div>
    <div>
        <div class="row">
            <div class="col-6" ng-repeat="p in listOfFiles">
                <div class="grid-container">
                    <!--<div style="min-width:120px;min-height:220px">
                        <img style="min-width:120px"/>
                    </div>-->
                    <div style="width:auto">
                        <div class="row">
                            <div class="col-12 title">
                                <a ng-href="{{p.UrlOfServerPath}}"  target="_blank">{{p.FileName}}</a>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-6 title">
                                <a>Created on</a>
                            </div>
                            <div class="col-6">
                                {{p.RegisterOn|date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <script>
        
    </script>
</div>