<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/">Files explorer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div id="home_view">

    </div>
    <main role="main" class="pb-3" ng-cloak>
        <div ng-repeat="app in list">
            <a href="javascript:void(0)" ng-click="doEdit(app.Name).then()">
                <h4>
                    {{app.Name}}
                </h4>
            </a>
            
            
        </div>
        
        
    </main>
</div>